@font-face {
	font-family: "NotoSans-Light";
	src: url(css/NotoSans-Light.ttf);
}


body {
	margin: 0px;
	font-size: 16px;
	font-family: Courier New, Verdana;
	text-align:left;
}

#top {
      background: #000;
      height: 213px;
	  padding:10px;
}

.header_title {
      float: left;
	  font-size: 40px; 
	  color:#fff; 
}

#top img {
	  float: right;
}

#bottom {
      background: #000;
	  padding:10px;
	  color:#fff; 
}

#content {
	  background: #c9c5c7;
	  padding: 10px;
	  overflow: hidden;
}

h3 {
	margin: 0px 0px 5px 0px;
}

h2 {
	margin: 0px 10px 10px 10px;
}

#content  p {
	margin: 0px;
	padding-bottom: 5px;
}
#content  ul {
	margin: 0px;
	padding-bottom: 5px;
}

#left_column {
	  width: 69.3%;
	  float: left;
}

.info_block {
	  background: #b0a9ac;
}

.info_block  > .paragraph {
	  /*background: #999094;*/
	  margin:10px;
	  /*padding-bottom: 10px;*/
}

.paragraph > .period {
	font-style: italic; 
}

#right_column {
	  width: 30%;
	  float: right;
	  margin-left: 10px;
}

